doctype html
html
    head
        title Memer
        link(rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src="//code.jquery.com/jquery-1.11.1.min.js")
        script(src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
    
    body
        div(class="ui-content" align="center")
            h1 Welcome!
            a(type="submit" href="/LogIn" class="ui-btn ui-btn-inline ui-corner-all ui-icon-user ui-btn-icon-left") Log In
            a(type="submit" href="/About" class="ui-btn ui-btn-inline ui-corner-all ui-icon-user ui-btn-icon-left") Sign Up