doctype html
html
    head
        title LogIn
        link(rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src="//code.jquery.com/jquery-1.11.1.min.js")
        script(src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
    
    body
        div(class="ui-content" align="center")
            h1 Hi you!
            form(action="/logIn", method="post")
                label(for="userName" class="ui-hidden-accessible") User name:
                input(type="text", name="userName", placeholder="User name...", data-clear-btn="true")
                label(for="password" class="ui-hidden-accessible") Password:
                input(type="password", name="password", placeholder="Password", data-clear-btn="true")
                input(type="submit", value="Log In" data-icon="check" data-iconpos="right")
                input(type="submit", value="Cancel" href="/" data-icon="delete" data-iconpos="right")
                